/*004d74*/
/*
azul escuro #125688
azul claro #4090db
cinzento escuro #a5a7aa
cinzento claro #e7e7e7
#e6e6e6
quase branco #fafafa
preto #fff
quase preto: #4b4f54
#e6e6e6*/


.container-top{
	margin-top: 10%;
	color:#125688;
}

.login-form{

}

.container-logo{

}



.hideit{
	display:none;
}

.btn.btn-default.btn-sbmt{
	color:#fafafa;
	background-color:#125688;
}

.btn.btn-default.btn-gtop{
	background-color:#e7e7e7;
}

.login-btns, .register-btns{
	margin-top: 3%;
}

.container-m{
    margin-top: 5%;
    padding-top:4%;
    padding-bottom:4%;
    margin-bottom: 5%
}

.container1.col-md-12.text-center.container-m{
    margin-top: 10%;
    padding-top:4%;
    background-color:#125688;
    color:#fafafa;
}

.col-md-12.container-mobile{
    color: #125688;
    background-color: #fafafa;
    padding-top:4%;
    padding-bottom:4%;
}

.container5.col-md-12.container-team{
    margin-top: 5%;
    padding-top:4%;
    padding-bottom:4%;
    background-color:#e6e6e6;
    color:#4090db;
    margin-bottom: 5%;
}

.container-pad-top{
    padding-top:10%;
}