/*004d74*/
/*
azul escuro #125688
azul claro #4090db
cinzento escuro #a5a7aa
cinzento claro #e7e7e7
#e6e6e6
quase branco #fafafa
preto #fff
quase preto: #4b4f54
#e6e6e6
*/

.selection-buttons{
	margin-bottom: 3%;

}

.navbar.navbar-default{
	background-color:#fff;
}

.ticket-container{
	border: 1px solid #e7e7e7;
	
}

.ticket-container{
	padding:0px;
}

.ticket-image,.ts-image{
	padding:0px;
}


.ticket-validations{
	border-bottom:solid #e7e7e7 1px;
}



.t-margin{
	padding-top:2%;
	padding-bottom:2%;
}

.t-nomargin{
	padding-left:0px;
	padding-right:0px;
}

.t-dark-blue{
	color:#125688;
	font-size:15px;
	font-weight:600;
}

.t-soft-blue{
	color:#4090db;
}

.t-soft-grey{
	color:#b7b7b7;
	font-size:15px;
	font-weight:600;
}

.t-dark{
	color:#4b4f54;
	font-size:15px;
	font-weight:600;
}

a#logo.navbar-brand{
	color:#125688;
	font-size:20px;
	font-weight:600;
	padding-right:0px;
}

ul.nav.navbar-nav.navbar-right li a#username{
	color:#125688;
	font-size:15px;
	font-weight:600;
}

.glyphicon.glyphicon-tasks{
	color:#125688;
}

.btn.btn-default.col-md-3{
	border-color: #e6e6e6;
}

.ticket-title2,.ticket-location,.ts-title2,.ts-location,.ticket-image img,.icon-like-love-streamline{
	cursor:pointer;
}

.ts-container{
	border:solid #e7e7e7 1px;
}

.ts-margin{
	padding-top:1%;
	padding-bottom:1%;
}

/*
.specific-container,#img2{
	display:none;
}*/


.ticket-row{
	padding-left:0px;
	padding-right:0px;
	padding-bottom:4%;
}
