/*004d74*/
/*
azul escuro #125688
azul claro #4090db
cinzento escuro #a5a7aa
cinzento claro #e7e7e7
#e6e6e6
quase branco #fafafa
preto #fff
quase preto: #4b4f54
#e6e6e6
*/

body{
	background-color: #fafafa;
}

.selection-buttons{
	margin-top: 2%;
	margin-bottom: 2%;

}


.ticket-container{
	border: 1px solid #e7e7e7;
	background-color:white;

}

.ticket-container{
	padding:0px;
}

.ticket-image,.ts-image{
	padding:0px;
}


.ticket-validations{
	border-bottom:solid #e7e7e7 1px;
}



.t-margin{
	padding-top:2%;
	padding-bottom:2%;
}

.t-nomargin{
	padding-left:0px;
	padding-right:0px;
}

.t-dark-blue{
	color:#125688;
	font-size:15px;
	font-weight:600;
}

.t-soft-blue{
	color:#4090db;
}

.t-soft-grey{
	color:#b7b7b7;
	font-size:15px;
	font-weight:600;
}

.t-dark{
	color:#4b4f54;
	font-size:15px;
	font-weight:600;
}

.glyphicon.glyphicon-tasks{
	color:#125688;
}

.btn.btn-default.col-md-3{
	color:#4090db;
	border-color: #e6e6e6;
}

.btn.btn-default.col-md-3.selected{
	background-color:#125688;;
	color:#fafafa;

}

.ticket-title2,.ticket-location,.ts-title2,.ts-location,.ticket-image img,.icon-like-love-streamline{
	cursor:pointer;
}

.ts-container{
	border-top:100px;
	border:solid #e7e7e7 1px;
	background-color: white;
}

.ts-margin{
	padding-top:1%;
	padding-bottom:1%;
}

/*
.specific-container,#img2{
	display:none;
}*/


.ticket-row{
	padding-left:0px;
	padding-right:0px;
	padding-bottom:4%;
}


.tss-container{
	padding-top:5%;
}

.ticket-title-container{
	padding-right: 0;
}

.ticket-space{
	margin-top: 5%;
}

.item-hidden{
	display:none;
}

.no-pad{
	padding:0px;
}

.no-pad-left{
	padding:0px;
}

.add-pad-top{
	padding-top: 3%;
}

.vote-btn{
	padding:10%;
	cursor:pointer;
}