<%= stylesheet_link_tag "info" %>
<%= render 'layouts/navbar' %>

<div class="container global-container">
	<div class="col-md-12 global2">
		<div class="col-md-3 left-menu">

			<ul class="list-group">
			  <li class="list-group-item"><a href="/users/info">Editar dados pessoais</a></li>
			  <li class="list-group-item selected">Alterar password</li>
			  <li class="list-group-item"><a href="/users/image">Alterar fotografia</a></li>
			</ul>


		</div>

		<div class="col-md-7 display-container">
			<div class="col-md-12 r-header t-great-dark-blue">


				<div class="col-md-12 r-title">
					Alterar password
				</div>

				<div class="col-md-12 r-message">
					
				</div>
			</div>
			
			<div class="col-md-12 r-form">
				

				<form class="form-horizontal">
				  <div class="form-group ">
				    <label for="inputpassword" class="col-sm-3 control-label pull-left">Password atual</label>
				    <div class="col-sm-9">
				      <input type="password" class="form-control" id="inputpassword" placeholder="Password atual">
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <label for="inputnpass" class="col-sm-3 control-label">Nova password</label>
				    <div class="col-sm-9">
				      <input type="password" class="form-control" id="inputnpass" placeholder="Nova password">
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <label for="inputnpass2" class="col-sm-3 control-label">Repetir nova password</label>
				    <div class="col-sm-9">
				      <input type="password" class="form-control" id="inputnpass2" placeholder="Repetir Nova password">
				    </div>
				  </div>
				</form>

			</div>
			
			<div class="col-md-12 r-button pull-right">
				<input class="btn btn-default btn-sbmt" type="submit" value="Enviar">
			</div>

		</div>
	</div>


</div>